.header {
    grid-area: header;
    /* grid-column: 1 / span 0;
    grid-row: 1; */
    margin: 0 auto;
    /* padding: `var(--space-4) var(--size-gutter)`, */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerLink {
    display: flex;
}

.logo {
}

.headerCat {
    order: -1;
}

.socialLinks {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.socialLinks li {
    margin: 1rem;
}

